@model FormBuilder.Models.FormElement
@{
    ViewData["Title"] = "FormField";
}

<h1>Form Fields</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FormField">
            <input type="hidden" asp-for="FormDataId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ElementLabel" class="control-label"></label>
                <input asp-for="ElementLabel" class="form-control" />
                <span asp-validation-for="ElementLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElementType" class="control-label"></label>
                <input asp-for="ElementType" id="elementType" class="form-control" />
                <span asp-validation-for="ElementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElementValue" class="control-label"></label>
                <input asp-for="ElementValue" class="form-control" />
                <span asp-validation-for="ElementValue" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-6 form-group" >
                        <input id="valid" name="ValidationType" type="text" value=""class="form-control" style="display:none"  />
                        <br />
                        <input class="btn btn-secondary" id="toggle" value="Add Validation"></input>
                    </div>  
                    <br />
                    <div class="form-group col-md-4">
                        <input type="submit" value="Add"  class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>            
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script>  
        const targetDiv = document.getElementById("valid");
        const btn = document.getElementById("toggle");
        btn.onclick = function () {
            if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "none";
            } else {
            targetDiv.style.display = "block";
            }
        };
  
     </script>
}
 @*  $.ajax({
            url: "/user/popo",
            contentType: "application/json; charset=utf-8",
            type: "post",
            data: { ValidationType: text },
            success: function (data) {
            result = data;
            $.each(result, function (m, n) {

            });*@
