@model IEnumerable<FormBuilder.Models.FormElement>
@{
    ViewData["Title"] = "Form Elements";
}
<h2>Form Fields</h2>
<a asp-action="FormField" asp-route-id=>Add more fields.</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="FormCreateField">            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var item in Model)
            {
                <div class="form-group">
                    <label asp-for="@item.ElementLabel" class="control-label"></label>
                    <input type="@item.ElementType" value="@item.ElementValue" />
                    <span asp-validation-for="@item.ElementLabel" class="text-danger"></span>
            </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
