@model FormBuilder.Models.FormElement

@{
    ViewData["Title"] = "Delete Field";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
    
    <form asp-action="FormDeleteField">
        <input type="hidden" asp-for="ElementId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="FormCreateField" asp-route-id="@Model.FormDataId">Back to List</a>
    </form>
